<p-card styleClass="my-5 shadow-2">
  <div class="grid user-info">
    <div class="col-12 lg:col-3 flex justify-content-center">
      <p-skeleton shape="circle" size="8rem"></p-skeleton>
    </div>
    <div class="col-12 lg:col-9">
      <p-skeleton styleClass="mb-3" height="1rem" width="40%"></p-skeleton>
      <p-skeleton styleClass="mb-3" height="2rem" width="80%"></p-skeleton>
      <p-skeleton styleClass="mb-3" height="1rem" width="60%"></p-skeleton>
      <p-skeleton styleClass="mb-3" height="1rem" width="90%"></p-skeleton>
      <p-skeleton styleClass="mb-3" height="1rem" width="40%"></p-skeleton>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <p-skeleton styleClass="mb-3" height="20rem"></p-skeleton>
      <p-skeleton styleClass="mb-3" height="3rem" width="20%"></p-skeleton>
    </div>
  </div>
</p-card>
