:host {
  display: flex;
  flex-flow: column;
  height: 100%;

  header {
    min-height: 60px;
    flex: 0 1 auto;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;

    img {
      margin: 0 16px;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  main {
    flex: 1 1 auto;
  }

  footer {
    padding: 50px;
    margin: 0;
    background-color: #1976d2;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
    align-items: center;
    line-height: 20px;

    a {
      align-items: center;
    }

    .copyright {
      text-align: center;
      opacity: 0.3;
      font-size: 13px;
      margin-bottom: 0;
    }
  }
}
